/* MyApps.css */

.my-apps-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    letter-spacing: 15px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  
  @media (min-width: 640px) {
    .title {
      font-size: 2.75rem;
    }
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1024px) {
    .title {
      font-size: 3.8rem;
    }
  }
  
  .apps-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  @media (min-width: 640px) {
    .apps-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .apps-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .apps-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  .app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: fit-content;
  }
  
  .app-icon {
    height: 3rem;
    width: auto;
  }
  
  @media (min-width: 640px) {
    .app-icon {
      height: 6rem;
    }
  }
  
  .app-name {
    color: var(--text-muted-foreground);
    text-align: center;
  }
  