/* Portfolio.css */

.portfolio-container {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  
  .portfolio-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 640px) {
    .portfolio-title {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .portfolio-title {
      font-size: 3rem;
    }
  }
  
  .text-highlight {
    color: #ff0000; /* Adjust the color as needed */
    font-weight: 800;
  }
  
  .divider {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 1.75rem;
    background-color: #e0e0e0;
    z-index: -1;
  }
  
  @media (min-width: 640px) {
    .divider {
      top: 1.75rem;
    }
  }
  
  @media (min-width: 768px) {
    .divider {
      top: 2rem;
    }
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
  }
  
  @media (min-width: 640px) {
    .project-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .project-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .project-banner {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .show-more-button {
    margin-top: 1.5rem;
  }
  
  .button {
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1rem;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  